.foot{
    color: whitesmoke;
    background-color: black;
    position: absolute;
    bottom:0px;
    width: 100%;
    text-align: center;
    font-size: x-large;
    font-style: italic;
}
*{
    box-sizing: border-box;
}
